<div *ngIf="this.auth.usuarioLogueado?.tipo == TipoUsuario.Administrador">
    <table mat-table [dataSource]="filtrarPacientes()" class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Nombre </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellido">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Apellido </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="edad">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Edad </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.edad}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="dni">
            <th class="text-center" mat-header-cell *matHeaderCellDef> DNI </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.documento}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="obraSocial">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Obra Social </th>
            <td class="text-center estado" mat-cell *matCellDef="let element"> {{element.obraSocial}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Correo Electrónico </th>
            <td class="text-center estado" mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="Opciones">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Opciones </th>
            <td class="text-center" mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="agregarHistoriaClinica(element)">
                    Completar historia
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="['nombre','apellido','edad','dni','obraSocial','email','Opciones']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['nombre','apellido','edad','dni','obraSocial','email','Opciones']">
        </tr>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" #showFirstLastButtons
            aria-label="Seleccione pagina">
        </mat-paginator>


    </table>
</div>

<div class="mt-5" *ngIf="this.auth.usuarioLogueado?.tipo == TipoUsuario.Especialista">
    <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <div class="container text-center">
        <div *ngIf="false" style="display: flex; justify-content: center; align-items: center; min-height: 250px;">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div class="row especialistas flex-nowrap overflow-auto mt-2">
            <div class="col-3 mb-3" *ngFor="let paciente of filtrarPacientes()">
                <div class="card" appHoverCard>
                    <img class="card-img-top card-img-bottom" [src]="paciente.fotos[0]" alt="Card image cap"
                        style="max-height: 150px; padding-top: 5px; border-radius:5px">
                    <div class="card-body">
                        <h1 class="card-title">{{paciente.apellido}} {{paciente.nombre}}</h1>
                        <h2 class="card-subtitle">Ultimos turnos</h2>
                        <p *ngFor="let turno of getUltimosTurnosPaciente(paciente.id_user)">{{turno.fechaTurno! |
                            formatDateModif }} </p>
                        <button mat-raised-button color="primary" (click)="agregarHistoriaClinica(paciente)">
                            Completar historia
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!true && pacientesShow.length == 0"
            style="display: flex; justify-content: center; align-items: center; min-height: 250px;">
            <h1>No hay ninguna coincidencia con la busqueda.</h1>
        </div>
    </div>

</div>