<div class="container">
    <h1 class="text-center title">Solicitar turno</h1>
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="needs-validation col-12" novalidate>
       <div *ngIf="tipoBusqueda?.value !== ''">
            <h1 for="tipoBusqueda" class="form-label text-center">Seleccione un especialista:</h1>
            <div class="row" *ngIf="tipoBusqueda?.value == 'Especialista'">
               <app-seleccionar-especialistas (onSelectEspecialista)="buscarTurnos($event)"></app-seleccionar-especialistas>
            </div>
            <div class="row" *ngIf="tipoBusqueda?.value == 'Especialidad'">
                <div class="mb-3 col-6">
                    <label for="nombre" class="form-label">Especialidades:</label>
                    <input type="text" id="especialidad" formControlName="especialidad" class="form-control" required>                    
                </div>
            </div>
            <div class="row" *ngIf="horariosPorDia.length> 0">
                <app-seleccionar-turno (onTurnoSeleccionado)="turnoSeleccionado($event)" [horariosPorDia]="horariosPorDia"></app-seleccionar-turno>
            </div>

            <div class="row" *ngIf="horario.value! && auth.usuarioLogueado?.tipo == 'Administrador'">
                <app-seleccionar-pacientes (onPacienteSeleccionado)="pacienteSeleccionado($event)" [horarioSeleccionado]="horarioSeleccionado!"></app-seleccionar-pacientes>
            </div>

        </div>
        <div class="d-flex align-self-center">
            <button type="submit"
                class="btn btn-primary col-6" [disabled]="!form.valid">Solicitar Turno</button>
        </div>
    </form>

</div>