<div class="d-flex justify-content-center">

  <div class="ahorcado">
    <div class="timer d-flex align-items-center">      
        <div class="timerNumber">
          {{ getMinutes() }}</div>
        <h1 class="separator">:</h1>
        <div class="timerNumber">
          {{ getSeconds() }}
        </div>      
    </div>
    <app-ahorcado-vidas class="m-2" (gameFinished)="onGameFinished()" [guesses]="guesses" [word]="word"></app-ahorcado-vidas>
    <ng-container *ngIf="!restartGameBtnShown else restartGameBtn">
      <app-ahorcado-palabra class="m-2" [guesses]="guesses" [word]="word"></app-ahorcado-palabra>
      <app-ahorcado-teclado class="m-2"(keyPressed)="guess($event)" [word]="word"></app-ahorcado-teclado>
    </ng-container>
  </div>
  <ng-template #restartGameBtn>
    <h1>La palabra era: {{word}}</h1>
    <button mat-fab extended color="primary" (click)="reset()" class="m-2">
      <mat-icon>favorite</mat-icon>
      Jugar de nuevo
    </button>
  </ng-template>

</div>