.label{
    font-size: 15px;    
}

.card-title{
    font-size: 1.5rem;
    margin-top:1rem;
}

.horariosCard{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.especialidades{
    max-width: 20rem;
}