<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>{{this.auth.usuarioLogueado?.tipo === 'Administrador' ? 'Turnos' : 'Mis turnos'}}</h1>
    <div class="col-3 mb-2">        
        <app-busqueda (onEnter)="buscar($event)" (onDebounce)="buscar($event)" [placeholder]="'Busqueda de turno...'"></app-busqueda>
    </div>
    <div class="col-9">
        <app-listado-turnos  [filtro]="filtro" [turnos]="misTurnosArr" (onCompletarEncuesta)="onCompletarEncuesta($event)"></app-listado-turnos>
    </div>
</div>
<div class="d-flex flex-column justify-content-center align-items-center" *ngIf="turnoSeleccionado">
    <app-encuesta-atencion [@flip2HorTop1] [turno]="turnoSeleccionado"></app-encuesta-atencion>
</div>