.chat-box {
    margin-top: 20px;
    border-top: 2px solid #435db5;
    display:flex;
  }
  
  .chat-box-container {
    display: flex;
    align-items: center;
  }
  
  .chat-box textarea {
    flex: 1;
    resize: none;
    margin-right: 10px;
    width: 80%;
  }