<div>
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <img src="assets/img/about-me.jpg" alt="Raised image" class="img-fluid rounded-circle shadow-lg mt-md"
        style="width: 250px;">
      <h2 class="mt-2">Leonel Franco Ledesma</h2>
      <h4>Desarrollador de .NET Fullstack</h4>
      <p>Estudiante de la Universidad Tecnologica Nacional - Avellaneda</p>
    </div>
  </div>

  <h3 class="text-center mt-3">Habilidades</h3>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <ul class="list-unstyled text-small">
          <li>C# .NET</li>
          <li>SQL</li>
          <li>PHP</li>
          <li>HTML5/CSS</li>
          <li>Javascript</li>
        </ul>
      </div>
      <div class="col order-5">
        <ul class="list-unstyled text-small">
          <li>Angular</li>
          <li>PHP</li>
          <li>Git</li>
          <li>DevOps</li>
          <li>Liderazgo</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="row justify-content-center mt-2">
        <a href="https://www.linkedin.com/in/leoledesma/" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
        </a>
      </div>
    </div>
  </div>
</div>