<div class="chat-area-container">

    <div class="chat-messages" #chatMessagesContainer>
        <ng-template ngFor let-message [ngForOf]="messages" style="height: 60%;">
            <div class="bubble" *ngIf="message.message.length> 0" [ngClass]="{'left':message.userFrom != currentUser,
                                            'right':message.userFrom == currentUser}">
                {{message.message}}
                <span #{{message.id}}>{{message.date | chatDate }}</span>
            </div >
        </ng-template>
        <footer class="box">
            <app-chat-box (onSendMessage)="onSendMessage.emit($event)"></app-chat-box>
        </footer>
    </div>
</div>