.chat-area-container {
    display: flex;
    flex-direction: column;
    height: 100%;    
}

.chat-messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    max-height: 80vh;
}

.chat-box {
    margin-top: 20px;
    z-index: 2;
}

.chat-area-container .box{
    position: absolute;    
    bottom: 0;    
    width: 75%;
}

.bubble {
  display:flex;
    --r: 25px; /* the radius */
    --t: 30px; /* the size of the tail */
    
    max-width: 50%;
    padding: calc(2*var(--r)/3);
    -webkit-mask: 
      radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
        var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
      conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
        calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
      radial-gradient(50% 50%,#000 98%,#0000 101%) 
        0 0/var(--r) var(--r) space padding-box;
    background: linear-gradient(135deg,#fd5d93,#e14eca) border-box;
    color: #fff;
    margin:10px;    
  }
  .left {
    --_d: 0%;
    border-left: var(--t) solid #0000;
    margin-right: var(--t);
    place-self: start;        
  }
  .right {
    --_d: 100%;
    border-right: var(--t) solid #0000;
    margin-left: var(--t);
    place-self: end;
  }

  .bubble span{    
    padding-left: 10px;
    align-self: flex-end;
    opacity: 70%;
    position: relative;
    bottom:-15px;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    gap: 20px;
    font-family: system-ui, sans-serif;
    font-size: 20px;
  }

  

