.container {
    padding-top: 50px;
}

.customBorder {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    background-color: #2b3035;
}

.btn-outline-secondary {
    color: #9461fb;
    background-color: #b392f4;
    border-color: #9461fb;
}

.btn-outline-secondary:hover {
    color: #ffffff;
    background-color: #9461fb;
    border-color: #9461fb;
}

.alert-danger {
    background-color: rgb(223, 81, 81);
    color: white;
    border: 2px solid rgb(223, 81, 81);
}

.alert-success {
    background-color: #036100;
    color: white;
    border: 2px solid rgb(63, 143, 73);

}

.preguntadosImage {    
    height: 150px;
    width: auto;
}