<div class="d-flex justify-content-center">
    <app-timer [maxSeconds]="10" (onTimerEnd)="onTimerEnd()"></app-timer>
</div>
<app-puntuacion [puntos]="score" [text_white]="false"></app-puntuacion>
<div class="game-container" (click)="onButtonClick($event)">
    <ng-container *ngIf="showStartGame else clickButton">
        <div class="center-button">
            <button mat-fab extended color="primary" (click)="startGame()" class="m-2">
                <mat-icon>favorite</mat-icon>
                Empezar juego
            </button>
        </div>
    </ng-container>
    <ng-template #clickButton>
        <button class="click-button" [style.top.px]="buttonTop" [style.left.px]="buttonLeft"></button>
    </ng-template>
</div>
<ng-container *ngIf="restartGameBtnShown && !showStartGame">
    <div class="d-flex justify-content-center">
        <button mat-fab extended color="primary" (click)="reset()" class="m-2">
            <mat-icon>favorite</mat-icon>
            Jugar de nuevo
        </button>
    </div>
</ng-container>
<div class="alert">{{ alertMessage }}</div>