<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" routerLink="home">
      <img src="/assets/img/favicon.ico" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
    </a>
    <div class="container d-flex flex-column flex-md-row justify-content-end">
      <a class="py-2 d-none d-md-inline-block p-2" routerLink="quien-soy" routerLinkActive="text-white">Quien soy</a>
      <ng-container *ngIf="this.usuarioLogueado === undefined; else elseTemplate">
        <a class="py-2 d-none d-md-inline-block p-2" routerLink="auth/register" routerLinkActive="text-white">Registrarse</a>
        <a class="py-2 d-none d-md-inline-block p-2" routerLink="auth/login" routerLinkActive="text-white">Iniciar sesion</a>        
      </ng-container>
      <ng-template #elseTemplate>        
        <li class="nav-item dropdown">
          <a class="npy-2 d-none d-md-inline-block p-2" href="#" data-bs-toggle="dropdown" aria-expanded="true">{{this.usuarioLogueado?.email}}</a>
          <ul class="dropdown-menu" data-bs-popper="static">
            <li><a class="dropdown-item" routerLink="chat">Chat</a></li>         
            <li><a class="dropdown-item" routerLink="historial">Historial partidas</a></li>         
            <li><a class="dropdown-item" (click)="logout()">Cerrar sesion</a></li>      
          </ul>
        </li>       
      </ng-template>
      
    </div>
  </div>  
  <app-loader *ngIf="mostrarLoader"></app-loader>
</nav> 
