<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" routerLink="home">
      <img src="/assets/img/favicon.ico" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
    </a>
    <div class="container d-flex flex-column flex-md-row justify-content-end">
      <ng-container *ngIf="this.usuarioLogueado === undefined; else elseTemplate">
        <a class="py-2 d-none d-md-inline-block p-2" routerLink="register" routerLinkActive="text-white">Registrarse</a>
        <a class="py-2 d-none d-md-inline-block p-2" routerLink="login" routerLinkActive="text-white">Iniciar sesion</a>        
      </ng-container>
      <ng-template #elseTemplate>    
        <a class="py-2 d-none d-md-inline-block p-2" routerLink="listados/usuarios" routerLinkActive="text-white" *ngIf="this.usuarioLogueado?.tipo=='Administrador'">Usuarios</a>        
        <li class="nav-item dropdown">
          <a class="npy-2 d-none d-md-inline-block p-2"  data-bs-toggle="dropdown" aria-expanded="true">{{this.usuarioLogueado?.nombre | titlecase}} {{this.usuarioLogueado?.apellido | titlecase}}</a>
          <ul class="dropdown-menu" data-bs-popper="static">    
            <li><a class="dropdown-item" (click)="logout()">Cerrar sesion</a></li>      
          </ul>
          <a class="npy-2 d-none d-md-inline-block p-2" aria-expanded="true">{{this.usuarioLogueado?.tipo | titlecase }}</a>
        </li>       
      </ng-template>
      
    </div>
  </div>  
  <app-loader *ngIf="mostrarLoader"></app-loader>
</nav> 
