<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="#">
        <img src="/assets/img/favicon.ico" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
      </a>      
    <div class="container d-flex flex-column flex-md-row justify-content-end">
        <a class="py-2 d-none d-md-inline-block p-2" routerLink="quien-soy">Quien soy</a>
        <a class="py-2 d-none d-md-inline-block p-2" routerLink="auth/register">Registrarse</a>
        <a class="py-2 d-none d-md-inline-block p-2" routerLink="auth/login">Iniciar sesion</a>
    </div>
    </div>
  </nav>