<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Bienvenidos a la sala de juegos!</h1>
    <p class="lead font-weight-normal">En esta sala de juegos podrás divertirte y jugar un rato.</p>
    <a class="btn btn-outline-secondary" [routerLink]="['/quien-soy']"
      routerLinkActive="--bs-emphasis-color">Conoceme</a>
  </div>
  <div class="card-group flex">
    <div class="card gamePointer" *ngFor="let juego of juegos" [routerLink]=juego.path>
      <h5 class="card-title">{{juego.name}}</h5>
      <img [src]="juego.image" class="card-img-top gamePhoto" alt="...">
      <div class="card-body">
        <p class="card-text">{{juego.description}}
      </div>
    </div>
  </div>
</div>