<div class="container text-center mt-5">
  <h1>Listado de usuarios</h1>

  <div class="centerjustify-content-center">
    <app-listado-generico [dataSource]="repartidoresProm" [displayedColumns]="displayedColumns" (onClicked)="onListClick($event)" [paginator]="true">     
    </app-listado-generico>
  </div>

  <div class="row align-items-md-stretch mt-5">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <app-register [formAdministrador]="true"></app-register>
      </div>
    </div>
    <div class="col-md-6" *ngIf="usuario?.tipo === TipoUsuario.Especialista">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Especialista</h2>
        <div class="d-flex justify-content-center">
          <button class="m-2 btn btn-success" *ngIf="usuario.estado !=='Habilitado'" (click)="onActionClick(EstadoUsuario.Habilitado)">Habilitar</button>
          <button class="m-2 btn btn-warning" *ngIf="usuario.estado !=='Inhabilitado'" (click)="onActionClick(EstadoUsuario.Inhabilitado)">Inhabilitar</button>
          <button class="m-2 btn btn-danger" *ngIf="usuario.estado !=='Rechazado'" (click)="onActionClick(EstadoUsuario.Rechazado)">Rechazar</button>
        </div>       
      </div>
    </div>
  </div>
</div>