<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="/assets/img/favicon.ico" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
      <small class="d-block mb-3 text-muted">© 2023-2023</small>
    </div>
    <div class="col-6 col-md">
      <h5>Juegos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Ahorcado</a></li>
        <li><a class="text-muted" href="#">Mayor o Menor</a></li>
        <li><a class="text-muted" href="#">Preguntados</a></li>        
        <li><a class="text-muted" href="#">Por definir</a></li>   
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Sobre mi</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Quien soy</a></li>
        <li><a class="text-muted" href="#">Github</a></li>
        <li><a class="text-muted" href="#">LinkedIn</a></li>        
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Otros</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" routerLink="auth/login">Iniciar sesion</a></li>
        <li><a class="text-muted" routerLink="auth/register">Registrarse</a></li>
        <li><a class="text-muted" href="#">Chat</a></li>
        <li><a class="text-muted" href="#">Historial partidas</a></li>
      </ul>
    </div>    
  </div>
</footer>